<div class="product-block col-md-4 text-center">
  <div class="product">
    <div class="product-image">
      <%= image_tag blog.imgcover.thumb, class: "img-fluid" %>
    </div>
    <div class="middle">
      <%= link_to user_blog_path(blog.user, blog) do %>
        <button class="button">
          <i class="fa-fw fa fa-search-plus"></i>View
        </button>
      <% end %>
    </div>
  </div>
  <p class="product-name">
    <%= blog.tittle%>
  </p>
  <p class="product-brand">
    <%= content_summerize(blog.content)%>
  </p>
  <p class="product-price">
    <%= blog.user.name%>
  </p>
  <div class="form-inline add-to-cart d-flex justify-content-center">
    <%= link_to edit_user_blog_path(blog.user, blog) do %>
      <button class="btn btn-primary btn-round">
<i class="fa-fw fa fa-shopping-cart"></i> Edit Blog
</button>
      <% end %>
  </div>
</div>