<div class="col-sm-4 text-center">
  <div class="product-block">
    <div class="product">
      <div class="product-image">
        <%= image_tag blog.imgcover.thumb, class: "img-fluid mx-auto d-block" %>
      </div>
      <div class="middle">
        <%= link_to user_blog_path(blog.user, blog) do %>
          <button class="button">
            View
          </button>
        <% end %>
      </div>
      <p class="product-name">
      <%= blog.tittle%>
    </p>
    <p class="product-brand">
      <%= content_summerize(blog.content)%>
    </p>
    <p class="product-price">
      <span>by </span><%= blog.user.name%>
    </p>
    </div>
    
    <div class="form-inline add-to-cart d-flex justify-content-center">
      <%= link_to edit_user_blog_path(blog.user, blog) do %>
        <button class="btn btn-primary btn-round">
        <i class="fa-fw fa fa-shopping-cart"></i> Edit Blog
        </button>
      <% end %>
    </div>
  </div>
</div>