<!-- The modal -->
<div class="modal fade bd-example-modal-lg" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="modalLabel">Welcome!</h1>
      </div>
      <div class="modal-body">

<h1 class="text-center">
   <%= blog.tittle%>
</h1>
<%= image_tag blog.imgcover %>
  <p>
  <%=simple_format h blog.content %>
  </p>
  <ul>
    <li>By
      <a>
        <%= blog.user.name%>
      </a>
    </li>
    <li>Views:
      <%= blog.view%>
    </li>
  </ul>
  </br>
  </h
<%= render 'comments/new', blog: blog %>
</hr>
<h3> Comments list </h3>
<div class="row">
  <div class="col-sm-12">
    <%= render blog.comments %>
  </div>
</div>
<%= link_to 'Delete this Blog', user_blog_path(blog.user, blog), method: :Delete,  class: "btn btn-danger" %>
<%= link_to 'Back', blogs_path, class: "btn btn-primary" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

