<h1 class="text-center">
  Update Blog
</h1>

<%= form_for @blog, url: user_blog_url(current_user, @blog),accept: 'image/jpeg, image/png, image/gif' do |f| %>
  <%= f.label :imgcover, "Cover of Blog:"%>
  </br>
  <%= f.file_field :imgcover, value: "choose"%>
  </br>
  <%= f.label :tittle, "Blog Tittle: "%>
  </br>
  <%= f.text_field :tittle%>
  </br>
  <%=f.label :content, "Blog content: "%>
  </br>
  <%= f.text_area :content, class: "multiline"%>
  </br>
  <div class="row">
    <div class="col-sm-1">
    <%= f.submit "Save", class: "btn btn-primary" %> </br>
    </div>
    <div class="col-sm-9">
    <%= link_to 'Back', blogs_path, class: "btn btn-primary" %>  
    </div>
  </div>
  <p id="notice">
    <%= notice%>
  </p>
  <p id="alert">
    <%= alert%>
  </p>
<% end %>
<script>
  $("#blogs").addClass("active");
  $("#menu-heading3").addClass("active");
  $("#heading3").addClass("active");
</script>
