<h1> Add new post </h1>
<%= form_for @blog do |f| %>
    <%= f.file_field :imgcover %>
    <%= f.text_field :tittle%>
    <%= f.text_field :content%>
    <%= f.submit "Upload" %>
    <p id="notice"><%= notice%></p>
    <p id="alert"><%= alert%></p>           
<% end %>