<h1 class="text-center">
  <%=@blog.tittle%>
</h1>
<%= image_tag @blog.imgcover %>
  <p>
  <%=simple_format h @blog.content %>
  </p>
  <ul>
    <li>By
      <a>
        <%= @blog.user.name%>
      </a>
    </li>
    <li>/Views:
      <%= @blog.view%>
    </li>
  </ul>
  </br>
<%= link_to 'Delete this Blog', user_blog_path(params[:user_id], @blog), method: :Delete,  class: "btn btn-danger" %>
<%= link_to 'Back', blogs_path, class: "btn btn-primary" %>
