<h1> Add new comment </h1>
<%= form_for @comment, url: blog_comments_url(blog.id) do |f| %>
  <%= f.label :content, "Comment:"%>
  </br>
<%= f.text_field :content%>
  </br>
<%= f.submit "Submit", class: "btn btn-primary" %>
      <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
          <% end %> 
  <% end %>