<h1> Add new comment </h1>
<%= form_for @comment, url: blog_comments_url(params[:id]) do |f| %>
  <%= f.label :content, "Comment:"%>
  </br>
<%= f.text_field :content%>
  </br>
<%= f.submit "Submit", class: "btn btn-primary" %>
  <p id="notice">
    <%= notice%>
  </p>
  <p id="alert">
    <%= alert%>
  </p>
  <% end %>