
<h1> Add new comment </h1>
<%= form_for @comment, url: blog_comments_url(blog.id) do |f| %>
<div class="form-comment">
        <%= f.label :content, "Enter your comment:"%>
        <%= f.text_field :content%>
</div>
				<% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
          <% end %>
				<%= f.submit "Submit", class: "btn btn-primary btn-round" %>
  <% end %>