<div class="menu-content1">
<h1>Edit password</h1>

<%= form_for(@user, url: updatepassword_users_path(@user), html: { method: :put }) do |f| %>  
  <% if alert%>
  <div class="alert alert-danger">
  <%= alert %>
  <% end%>
</div>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="d-flex justify-content-end">
    <div class="actions">
      <%= f.submit "Change password", class: "btn btn-primary btn-round" %>
    </div>
  </div>
<% end %>


<%= link_to "Back", :back %>
</div>
