<div class="about row">
  <div class="col-md-12">
    <div class="memberinfo">
      <%= image_tag asset_url("slide2.jpg"), class:"img-fluid"%>
        <div class="avatar">
          <%= image_tag asset_url("defaultavatar.png"), class:"img-fluid"%>
        </div>
        <h4 class="text-center">User profile</h4>
        <p>Name:
          <%=@user.name%> <br>Email:
            <%=@user.email%><br> Day of Birth:
              <%=@user.dob%>
        </p>
        <div class="row">
          <div class="col-md-12 wow bounceInLeft">
            <%= link_to edit_user_registration_path(current_user) do %>
              <button class="btn btn-primary btn-round">
Edit your profile
</button>
              <%end%>
          </div>
        </div>
    </div>
  </div>
</div>
<script>
  $("#home").addClass("active");
  $("#menu-heading1").addClass("active");
  $("#heading1").addClass("active");
</script>