<div class="col-md-4 col-sm-6">
  <div class="card">
      <%= image_tag album.imgcover, class: "img-fluid" %>
    <div class="w3-agile-post-info">
      <h4 class="text-center">
        <%= album.name%>
      </h4>
      <ul>
        <li>By
          <a>
            <%= album.user.name%>
          </a>
        </li>
        <li>Views:
          <%= album.totalview%>
        </li>
      </ul>
    </div>
    <%= link_to user_album_path(album.user, album) do %>
      <i class="fa fa-search-plus"></i>
      <% end %>
  </div>
</div>