<h1> Add new image </h1>
<%= form_for @image, url: user_album_images_path(current_user, request.params[:album_id]) do |f| %>
    <%= f.file_field :url %>
    <%= f.submit "Add" %>
    <p id="notice"><%= notice%></p>
    <p id="alert"><%= alert%></p>           
<% end %>