<!DOCTYPE html>
<html>

<head>
	<title>Lab0114123221412350</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
		crossorigin="anonymous">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if current_user %>
	<div class="overlay"></div>
	<div id="side-navbar">
		<!-- Side Navbar -->
		<div class="top-side-navbar-panel">
			<span onclick="tooglebuttonClick()">Hide Left-Menu</span>
			<div class="d-flex justify-content-center align-items-center">
				<%= image_tag asset_url("defaultavatar.png"), class:"img-circle img-no-padding img-responsive"%>
			</div>
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="heading3">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="/" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-home"></i> Home</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
				<%= link_to albums_path do %>
					<i class="fa-fw fa fa-film"></i> Album
				<% end %>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
				<%= link_to blogs_path do %>
					<i class="fa-fw fa fa-file-text-o"></i> Blog
				<% end %>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
				<%= link_to about_path do %>
					<i class="fa-fw fa fa-users"></i> About</a>
				<% end %>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
				<%= link_to destroy_user_session_path, method: :delete do %>
					<i class="fa-fw fa fa-users"></i> Sign-out</a>
				<% end %>
				</div>
			</div>
		</div>
		<div id="side-search-form">
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search..." />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="fa-fw fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
<% end %>
	<div id="main">
		<header>
		<%= render 'commons/header' %>
		<%= render 'commons/navbar' %>
		</header>
		<content>
			<%= render 'commons/banner' %>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<%= render 'commons/leftmenu' %>
					</div>
					<div class="col-md-9">
						<div class="menu-content">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</content>
		<%= render 'commons/footer' %>
	</div>
</body>

</html>