<!DOCTYPE html>
<html>

<head>
	<title>Lab0114123221412350</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
		crossorigin="anonymous">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="overlay"></div>
		<button class="navbar-toggler navbar-toggler-right hamburger is-closed" type="button" data-toggle="collapse" data-target="#sidenavbarContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" onclick="tooglebuttonClick()">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
	<div id="side-navbar">
		<!-- Side Navbar -->
		<div class="top-side-navbar-panel logo d-flex justify-content-center align-items-center">
			<%= image_tag asset_url("defaultavatar.png"), class:"img-circle img-no-padding img-responsive"%>
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="heading3">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-home"></i> Home</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-film"></i> Album</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-file-text-o"></i> Blog</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-users"></i> About</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading2">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><i class="fa-fw fa fa-user-o"></i> My Account <i class="fa-fw fa fa-caret-down"></i></a>
				</div>
				<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
					<ul class="list-group">
						<li class="list-group-item">Notification</li>
						<li class="list-group-item">Profile</li>
						<li class="list-group-item">
							<a href="/signout">Sign-out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="side-search-form">
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search..." />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="fa-fw fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div id="main">
		<header>
		<%= render 'commons/header' %>
		<%= render 'commons/navbar' %>
		</header>
		<content>
			<div class="cover animated wow fadeInDown">
				<div class="container">
					<div id="carouselAds" class="carousel slide">
						<!-- Slide -->
						<ol class="carousel-indicators">
							<li data-target="#carouselAds" data-slide-to="0" class="active"></li>
							<li data-target="#carouselAds" data-slide-to="1"></li>
							<li data-target="#carouselAds" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="Ads Slide">
							<div class="carousel-item active">
								<div class="img">
									<%= image_tag asset_url("slide1.jpg"), class:"img-fluid" %>
								<div class="carousel-caption">
									<h5>"I am Diana of Themyscira, daughter of Hippolyta..."</h5>
								</div>
							</div>
							<div class="carousel-item">
								<div class="img">
									<%= image_tag asset_url("slide2.jpg"), class:"img-fluid" %>
								</div>
								<div class="carousel-caption">
									<h5>"...Queen of the Amazons..."</h5>
								</div>
							</div>
							<div class="carousel-item">
								<div class="img">
									<%= image_tag asset_url("slide3.jpg"), class:"img-fluid" %>
								</div>
								<div class="carousel-caption">
									<h5>"...in the name of all that it is good..."</h5>
								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselAds" role="button" data-slide="prev">
							<i class="fa-fw fa fa-angle-left"></i>
						</a>
						<a class="carousel-control-next" href="#carouselAds" role="button" data-slide="next">
							<i class="fa-fw fa fa-angle-right"></i>
						</a>
					</div>
					<!-- End Slide -->
				</div>
			</div>
			<div class="container animated wow fadeInDown">
				<div class="row">
					<div class="col-md-3">
						<%= render 'commons/leftmenu' %>
					</div>
					<div class="col-md-9">
						<div class="menu-content">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</content>
		<%= render 'commons/footer' %>
	</div>
</body>

</html>