<!DOCTYPE html>
<html>

<head>
	<title>Lab0114123221412350</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="overlay"></div>
	<div id="side-navbar">
		<!-- Side Navbar -->
		<div class="top-side-navbar-panel logo d-flex justify-content-center align-items-center">
			<img src="/images/logo.png" alt="Logo">
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="heading1">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><i class="fa-fw fa fa-bars"></i> Product Categories <i class="fa-fw fa fa-caret-down"></i></a>
				</div>

				<div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
					<ul class="list-group">
						<li class="list-group-item">Business</li>
						<li class="list-group-item">Desktop Replacement</li>
						<li class="list-group-item">Gameing</li>
						<li class="list-group-item">Multimedia</li>
						<li class="list-group-item">Student</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading2">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><i class="fa-fw fa fa-user-o"></i> My Account <i class="fa-fw fa fa-caret-down"></i></a>
				</div>
				<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
					<ul class="list-group">
						<li class="list-group-item">Notification</li>
						<li class="list-group-item">Orders</li>
						<li class="list-group-item">Favorites</li>
						<li class="list-group-item">
							<a href="/signout">Sign-out</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading3">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-shopping-cart"></i> Shopping Cart</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-phone"></i> Customer Support</a>
				</div>
			</div>
		</div>
		<div id="side-search-form">
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search..." />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="fa-fw fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div id="main">
		<%= render 'commons/navbar' %>
			<content>
				<div class="container animated wow fadeInDown">
					<div class="row">
						<div class="col-md-3">
							<%= render 'commons/leftmenu' %>.
						</div>
						<div class="col-md-9">
							<%= yield %>
						</div>
					</div>
				</div>
			</content>

			<%= render 'commons/footer' %>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>